/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Estilo global */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    max-height: 50px;
    margin-left: 1rem;
}

span {
    display: none;
}

.title {
    text-align: center;
}

/* Geral */
main {
    background-color: #F8F9FA;
    padding: 1rem;
    height: auto;
    width: 100%;
}

.card-text,
p {
    font-weight: 500;
}

/* Home */
.home {
    height: 100vh;
    width: 100%;
    background-image: url("./img/piscina_fundo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home h1,
.home button {
    z-index: 1;
    color: white;
    text-align: center;
}

.home p {
    font-size: 40px;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.home button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home button:hover {
    background-color: #0056b3;
}

/* Imagens */
.img-fotos {
    width: 100%;
    border-radius: 6px;
}

.img-sobre {
    max-width: 100%;
    height: 43vh;
    border-radius: 10px;
}

/* Ajustes de layout */
.container {
    position: relative;
    z-index: 1;
    margin-top: 5rem;
    width: 100%;
    padding: 0 10px;
}

.container-sobre {
    margin-top: 5rem;
    width: 100%;
    padding: 0 50px;
}

.navbar>.container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.col-md-4 {
    margin-bottom: 4rem !important;
}

.main-tree {
    margin-top: 2rem;
}

/* Chat */
.chat-container {
    position: relative;
    max-width: 80%;
    height: 50vh;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 10px;
}

.chat-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-list {
    width: 40%;
    position: absolute;
    top: 15%;
    background-color: white;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Depoimentos */
.container-depoiment {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-depoiments {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(100% - 20px);
    max-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 50px;
}

.card-depoiments h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #007bff;
}

.card-depoiments p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
}

.text-depoiments {
    margin-bottom: 3.5rem !important;
}

/* Sobre */
.sobre {
    margin-bottom: 5rem !important;
}

/* Textos à direita */
.text-direito {
    position: relative;
    margin-left: 10rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .text-direito {
        margin-left: 0;
        margin-top: 2rem;
        width: 40rem;
        text-align: center;
    }

    .img-sobre {
        max-width: 370px;
    }

    .chat-container {
        max-width: 100%;
        height: auto;
    }

    .chat-list {
        width: 100%;
        position: relative;
        top: 0;
        border-radius: 8px;
    }

    .enviar {
        padding: 10px;
        margin-top: 20px;
        width: 150px;
        font-weight: 600;
    }

    .logo {
        display: none;
    }

    span {
        display: block;
    }
}

@media (max-width: 450px) {
    .home {
        height: auto;
        padding: 1rem;
        text-align: center;
    }

    .home h1,
    .home p,
    .home button {
        font-size: 1rem;
    }

    .text-direito {
        margin-left: 0;
        margin-top: 1rem;
        padding: 0 10px;
        text-align: center;
    }

    .card-depoiments {
        width: 90%;
        margin: 0 auto;
    }

    .img-sobre {
        max-width: 100%;
        height: auto;
    }

    .chat-container {
        max-width: 100%;
        padding: 0 10px;
        height: auto;
    }

    .chat-list {
        width: 100%;
        top: 0;
        position: static;
        border-radius: 8px;
        margin-top: 10px;
    }
}

.form-control {
    border: 1px solid black;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 100%;
}

footer {
    margin-top: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}
